nav li{
    display:block;
    padding-left: 0px;
    top:50%;
    left: 50%;
    position: relative;
  }

  nav a{
    color: white;
    text-decoration: none; 
  }

  nav a:active {
    color: white;
    text-decoration: underline;
  }

  .currents {
    font-weight: bolder;
    text-decoration: underline;
  }


  .skipping a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }

  nav{
    background-color: black;
    padding: 10px 0; 
    text-align: left;
  }

  footer{
    margin-bottom: -30px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding-top: 10px;
    text-align: center;
    border-top : 2px solid #FAEEFF;
  }

  nav li :hover{
    text-decoration: underline;
  }

  .skipping a{
    position: absolute;
    top: -40px;
  }
  

  .skipping a:focus{
    position: absolute;
    top: 20px;
  }

  @media only screen and (min-width: 796px){
    nav li{
        position:static;
        display: inline;
        padding-left: 20px;
    }
    
    nav {
        text-align: right;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 0px;
        padding-right: 20px;
      }
  }


  


